node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
yarn-error.log
cypress/videos/
cypress/screenshots/
cypress/fixtures/
cypress/downloads/

# macOS
.DS_Store

# TypeScript incremental build cache
*.tsbuildinfo
